head {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.header {
    display: flex;
    background-color: rgb(130, 195, 236);
    text-align: justify;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;


}

.header div h1 #img {
    height: 50px;
    width: 50px;
    text-align: left;
    margin-left: 0 auto;

}

.header h1 {
    margin-left: 100px;
    text-align: right;
    height: 40px;

}

body {
    font-family: 'Poppins', sans-serif;
}

.top-banner {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 2%;
}

.half-width img {
    width: 60%;
}

}